:host {
  padding: 52px 64px 168px 0;
  width: 80%;
  height: 866px;
  display: block;
}

.table-wrapper {
  margin-top: 64px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-item {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-bottom: 1px solid #a5a5a5;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.table-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.item-header {
  display: flex;

  & img {
    margin-left: 23px;
    cursor: pointer;
  }
}

.item-title {
  font-weight: 500;
  font-size: 20px;
}

.item-body {
  margin-top: 29px;
  display: flex;
}

.item-property {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  width: 275px;

  &-name {
    width: 70%;
  }

  &-value {
    color: #2962ff;
  }

  &:last-child {
    margin-left: 200px;
  }
}

h2,
h3 {
  margin: 0;
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 65px;
  font-weight: 500;
  font-size: 16px;

  & img {
    cursor: pointer;
    filter: invert(25%) sepia(12%) saturate(554%) hue-rotate(154deg)
      brightness(96%) contrast(91%);
  }

  & img.active {
    filter: invert(35%) sepia(93%) saturate(1104%) hue-rotate(200deg)
      brightness(102%) contrast(101%);
  }
}

.right-arrow {
  transform: rotate(180deg);
}

.skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.item-header.skeleton {
  width: 15%;
}

.item-body.skeleton {
  width: 60%;
}

@keyframes skeleton-loading {
  0% {
    background-color: #ccd1d3;
  }
  100% {
    background-color: #f0f3f5;
  }
}
