:host {
  display: block;
  height: 100%;
  background: linear-gradient(to right, transparent 85%, #ffffff 15%);
}

.main-page-content {
  display: flex;
  height: 100%;
}

.table-title {
  font-weight: 500;
}

h1 {
  margin: 0;
}
